body {
    font-family: 'Poly Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    background: transparent;
}

@font-face {
    font-family: "Poly Sans";
    src: url('fonts/PolySansNeutral.ttf');
    format: ('truetype');
}

@font-face {
    font-family: "Poly Sans Bulky";
    src: url('fonts/PolySansBulky.ttf');
    format: ('truetype');
}

@font-face {
    font-family: "Poly Sans Slim";
    src: url('fonts/PolySansSlim.ttf');
    format: ('truetype');
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 12px;
    overflow: hidden;
    max-height: 700px;
}

.input-area {
    background-color: #2e2e2e;
    padding: 10px;
    border-bottom: 1px solid #3a3a3a;
    border-radius: 12px;
    flex-shrink: 0;
}

.input-area input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: #424242;
    color: #ffffff;
    border-radius: 8px;
}

.response-area {
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
    border-radius: 12px;
    word-wrap: break-word;
    flex-grow: 1;
}

.response-area img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    border-radius: 12px;
}

.response-area p,
.response-area h1,
.response-area h2,
.response-area h3 {
    background: #1e1e1e;
    border-radius: 12px;
    padding: 15px;
}

.response-area pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.response-area table {
    width: 100%;
    table-layout: fixed;
}

.gap {
    height: 10px;
    background-color: transparent;
    flex-shrink: 0;
}

.response-area::-webkit-scrollbar {
    display: none;
}

/* .response-area::-webkit-scrollbar {
    width: 6px;
}

.response-area::-webkit-scrollbar-track {
    background: #2e2e2e;
}

.response-area::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
}

.response-area::-webkit-scrollbar-thumb:hover {
    background: #777;
} */