body {
    margin: 0;
}

input {
    width: 100%;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#response {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    overflow-y: auto;
    max-height: 200px;
}